0,org.mybatis.jpetstore.mapper.CategoryMapper
0,org.mybatis.jpetstore.domain.Category
1,org.mybatis.jpetstore.mapper.AccountMapper
1,org.mybatis.jpetstore.domain.Account
2,org.mybatis.jpetstore.mapper.LineItemMapper
2,org.mybatis.jpetstore.domain.LineItem
3,org.mybatis.jpetstore.mapper.SequenceMapper
3,org.mybatis.jpetstore.domain.Sequence
4,org.mybatis.jpetstore.mapper.OrderMapper
4,org.mybatis.jpetstore.domain.Order
5,org.mybatis.jpetstore.mapper.ItemMapper
5,org.mybatis.jpetstore.domain.Item
6,org.mybatis.jpetstore.domain.Cart
6,org.mybatis.jpetstore.domain.CartItem
7,org.mybatis.jpetstore.domain.Product
7,org.mybatis.jpetstore.mapper.ProductMapper
